/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav {
  justify-content: center;
}

.nav-item {
  margin-left: 10px;
}

.me-pic {
  display: block;
  max-width: 20%;
  min-width: 20%;
  margin: 10px auto;
  text-align: center;
}

.skill {
  list-style: none;
}

.skill-list {
  text-align: center;
}

.contact {
  list-style: none;
  margin: 0 auto;
}

.contact-info {
  margin: 0 auto;
}

.contact-div {
  /* text-align: center; */
  display: flex;
}

.button-holder {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.card-holder {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 4rem;
}

.card-text {
  height: 50%;
}