.nav {
  justify-content: center;
}

.nav-item {
  margin-left: 10px;
}

.me-pic {
  display: block;
  max-width: 20%;
  min-width: 20%;
  margin: 10px auto;
  text-align: center;
}

.skill {
  list-style: none;
}

.skills {
  text-align: center;
  max-width: 30%;
  margin: 2rem auto;
}

.contact {
  margin: 2rem auto;
  text-align: center;
  max-width: 20%;
}

.about-p {
  max-width: 35%;
  margin: 2rem auto;
  text-align: center;
}

.contact-div {

}

.button-holder {
  display: flex;
  justify-content: space-between;
}

.project-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.card-holder {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 4rem;
}

.card-text {
  height: 50%;
}

.about {
  max-width: 50%;
  margin: 2rem auto;
}

.resume{
  margin: 1rem auto;
  max-width: 30%;
  text-align: center;
}

.react-pdf__Page{
  text-align: center !important;
}

/* html{
  background: lightblue;
}

#root{
  background-color: lightblue;
} */